* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: absolute;
    top: 30px;
    left: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-family: 'Jomhuria', serif;
    font-size: 3.5rem;
    color: #C600D1;
    line-height: 0.8;
    cursor: pointer;
}

.logo small {
    font-size: 1.6rem;
    color: #FF4C2C;
    display: block;
    margin-top: -8px;
}

/* Overview */
body.overview-active .logo-main {
    color: #C600D1;
}

body.overview-active .logo-sub {
    color: #007B50;
}

/* Collections */
body.artlist-active .logo-main {
    color: #FFFFFF;
}

body.artlist-active .logo-sub {
    color: #FFE000;
}

/* History */
body.history-active .logo-main {
    color: #FFE000;
}

body.history-active .logo-sub {
    color: #FFFFFF;
}

/* Visit */
body.visit-active .logo-main {
    color: #FF4C2C;
}

body.visit-active .logo-sub {
    color: #C600D1;
}



/* Nav */
.top-nav {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    padding-top: 10px;
    transform: translateX(-15%);
}

.top-nav a {
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.3s ease;
    color: inherit;
}

@media (max-width: 768px) {
    .top-nav a {
        font-size: 1rem;
        margin: 0 10px;
    }
}

@media (max-width: 480px) {
    .top-nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .top-nav a {
        font-size: 0.9rem;
        margin: 4px 0;
    }
}

body.overview-active .top-nav a {
    color: #007B50;
}

body.history-active .top-nav a {
    color: #ffffff
}

body.visit-active .top-nav a {
    color: #FF4C2C;
}



/* Screens */
.screen {
    display: none;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
}

.screen.active {
    display: block;
}



/* Hero */
.hero {
    background-color: #FFD200;
    padding: 120px 20px 40px;
    text-align: center;
}

.hero-title {
    font-family: 'Jomhuria', serif;
    font-size: 8rem;
    color: #C600D1;
    text-shadow: 2px 2px 0 white;
    transform: rotate(-10deg);
    line-height: 0.8;
    margin-bottom: -20px;
}

.hero-subtitle {
    font-family: 'Jomhuria', serif;
    font-size: 7rem;
    color: #FF4C2C;
    text-shadow: 2px 2px 0 white;
    transform: rotate(10deg);
    margin-top: -30px;
}

.mission {
    font-size: 15px;
    color: #444444;
    max-width: 600px;
    margin: 30px auto 0;
}



/* Section */
.section {
    padding: 80px 20px;
    text-align: center;
}

.history {
    background: #007B50;
    color: #FFE000;
}

.collections {
    background: #C600D1;
    color: #FFE000;
}

.visit {
    background: #FFFFFF;
    color: #007B50;
}

.image-left,
.image-right {
    position: absolute;
    top: 100px;
    width: 300px;
    z-index: 1;
}

.image-left {
    left: 0px;
}

.image-right {
    right: -90px;
    width: 400px;
}

.content {
    max-width: 500px;
    margin: 0 auto;
}



/* History Page*/
#history {
    background-color: #007B50;
    color: #FFE000;
}

.history-screen {
    padding: 160px 20px 80px;
    max-width: 800px;
    margin: 0 auto;
}

.history-title {
    color: #FFE000;
    font-family: 'Jomhuria', serif;
    text-align: center;
    font-size: 80px;
    margin-bottom: 60px;
}

.history-screen h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #FFE000;
    margin-bottom: 10px;
    margin-top: 60px;
}

.history-screen h3:first-of-type {
    margin-top: 0;
}

.history-screen p {
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FFE000;
    margin-bottom: 0;
}

.history-screen h2,
.history-screen p {
    color: #FFE000;
}



/* Artwork */
.artworks {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

.artworks img,
.entry img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border: 3px solid white;
    display: block;
}

@media (max-width: 768px) {

    .artworks img,
    .entry img {
        width: 140px;
        height: 140px;
    }
}

@media (max-width: 480px) {

    .artworks img,
    .entry img {
        width: 100px;
        height: 100px;
    }
}

.artworks p {
    margin-top: 10px;
    font-weight: bold;
    color: inherit;
}




/* Button */
.button {
    margin-top: 30px;
    padding: 10px 20px;
    background: #FFE000;
    color: #C600D1;
    font-weight: bold;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background: #fff;
}



/* Collections Page */
.collection-screen {
    background: #C600D1;
    padding: 160px 20px 80px;
    text-align: center;
}

.collection-title {
    color: #ffffff;
    text-align: center;
    font-size: 4.5rem;
    font-family: 'Jomhuria', serif;
    margin-bottom: 60px;
}

.collection-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.entry {
    display: flex;
    align-items: center;
    gap: 20px;
}

.entry.left {
    flex-direction: row;
}

.entry.right {
    flex-direction: row-reverse;
}

.entry img {
    width: 180px;
    border: 4px solid #007B50;
}

.entry-info {
    text-align: left;
}

.tag {
    font-family: 'Jomhuria', serif;
    background-color: #ffffff;
    color: #007B50;
    padding: 6px 12px;
    font-size: 35px;
    display: inline-block;
    margin-bottom: 8px;
}

.entry-info p {
    font-family: 'Kanit', sans-serif;
    color: #ffffff;
    font-size: 1rem;
}



/* Visit Page */
#visit {
    background-color: #FFFFFF;
    color: #007B50;
}

.visit-screen {
    padding: 160px 20px 80px;
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Kanit', sans-serif;
}

.visit-title {
    font-size: 4.5rem;
    font-family: 'Jomhuria', serif;
    text-align: center;
    color: #007B50;
    margin-bottom: 60px;
}

.visit-screen h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #007B50;
    margin-bottom: 10px;
    margin-top: 60px;
}

.visit-screen h3:first-of-type {
    margin-top: 0;
}

.visit-screen p {
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #007B50;
    margin-bottom: 0;
}