body {
  color: white;
  background-color: #000000;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: auto;
}

.center-word {
  text-align: center;
}

.action{
    font-weight: light;
    font-style: italic;
    color: #5c5c5c;
}

.PeterVenkman{
    color: #8ca5d2;
    font-weight: bold;
}

.DanaBarrett{
    color:  #cf9696;
    font-weight: bold;
}

.Mayor{
    color:  #d3c49a;
    font-weight: bold;
}

.RayStantz{
    color: #b0c992;
    font-weight: bold;
}

.EgonSpengler{
    color: #ab9dbf;
    font-weight: bold;
}

.WinstonZeddemore{
    color: #c59090;
    font-weight: bold;
}

.allcaps{
    text-transform: uppercase;
}